<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partils/head') %>
  <title>Create Blog</title>
  <style>
    .form-card {
      max-width: 600px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
      padding: 25px;
    }
  </style>
</head>
<body class="bg-primary-subtle">
  <!-- Navbar -->
  <%- include('partils/navbar') %>
  <div class="d-flex justify-content-center align-items-center" >
    <div class="form-card mt-5" style="width: 500px;">
      <h3 class="text-center mb-4">Create New Blog</h3>
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input 
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter blog title"
            required
          >
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea 
            name="body" 
            id="body" 
            class="form-control" 
            rows="6" 
            placeholder="Write your blog content here..."
            required
          ></textarea>
          <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input 
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            required
          >
        </div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-danger" type="reset">Reset</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer -->
  <%- include('partils/footer') %>
</body>
</html>
