<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partils/head') %>
    <title>Blog Page</title>
</head>
<body>
    <!-- Navbar Add Using SSR -->
   <%-include('partils/navbar')%>
   <%- include('partils/scripts') %>
</body>
</html>
