<!-- Footer Start -->
<footer class="bg-dark text-light d-flex pt-4 mt-5 justify-content-center align-items-center">
  <div class="container">
    <!-- Bottom -->
    <div class="text-center">
      <p>&copy; 2025 MyBlog. All Rights Reserved.</p>
    </div>
  </div>
</footer>
<!-- Footer End -->
